* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Roboto Mono";
  src: url(../font/RobotoMono-Regular.ttf);
}

body {
  background-color: #1e1e1e;
  font-family: "Roboto Mono", monospace;
  font-size: 62.5%;
}

@-webkit-keyframes cambio {
  35% {
    background-image: url(../img/good-night-2904747_1280.jpg);
  }
  70% {
    background-image: url(../img/quino-al-gE3G-0qwlfU-unsplash.jpg);
  }
  100% {
    background-image: url(../img/sky-5114499_1280.jpg);
  }
}

@keyframes cambio {
  35% {
    background-image: url(../img/good-night-2904747_1280.jpg);
  }
  70% {
    background-image: url(../img/quino-al-gE3G-0qwlfU-unsplash.jpg);
  }
  100% {
    background-image: url(../img/sky-5114499_1280.jpg);
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.2fr 1fr;
      grid-template-columns: 1fr 0.2fr 1fr;
  -ms-grid-rows: 0.5fr 250px 0.5fr (250px)[3] 0.5fr;
      grid-template-rows: 0.5fr 250px 0.5fr repeat(3, 250px) 0.5fr;
      grid-template-areas: "login login login" "header header header" "nav nav nav" "content1 content1 content2" "content3 content4 content4" "content5 content5 content6" "footer footer footer";
}

.login {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: login;
}

header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

nav {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
}

.content1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content1;
}

.content2 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: content2;
}

.content3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: content3;
}

.content4 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content4;
}

.content5 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content5;
}

.content6 {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: content6;
}

footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

@media (max-width: 700px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "login" "header" "nav" "content2" "content3" "content5" "content6" "footer";
  }
  h1 {
    display: none;
  }
  .login {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav {
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  background: url(../img/bg_header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 30px gray;
          box-shadow: 0px 0px 30px gray;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login h1 {
  background: #4040a1;
  padding: 3px 5px;
  color: #fefbd8;
  letter-spacing: 5px;
}

button {
  background-color: #4040a1;
  border: none;
  color: #fefbd8;
  padding: 5px;
  margin: 3px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #36486b;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 5px;
  border: 1px solid #4040a1;
  outline: none;
  width: 150px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #36486b;
  color: #fefbd8;
}

/*---------------------------------header*/
header {
  height: 250px;
  background: transparent;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin-left: 100px;
  color: #fefbd8;
}

/*---------------------------------nav*/
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  height: 100%;
  list-style-type: none;
  background-color: #36486b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

nav ul li a {
  display: block;
  color: #fefbd8;
  padding: 15px 17px;
  text-decoration: none;
}

nav ul li:hover {
  background-color: #4040a1;
}

.active {
  border-top: 2px solid #fefbd8;
}

/*---------------------------------content1*/
.content {
  background-color: gainsboro;
  border: 1px solid gray;
  color: #050831;
  text-align: center;
  text-transform: uppercase;
}

.content1 {
  background: url(../img/sky-5114499_1280.jpg) no-repeat center;
  background-size: cover;
}

/*---------------------------------content2*/
.content2 h3,
.content2 p {
  margin: 30px;
  font-size: 0.8rem;
}

/*---------------------------------content3*/
.content3 h3,
.content3 h5 {
  margin: 30px;
  font-size: 0.8rem;
}

.content3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content3 div img {
  width: 70px;
  height: 70px;
  margin: 0 5px 10px 5px;
  border-radius: 50%;
}

/*---------------------------------content4*/
.content4 {
  background-image: url(../img/quino-al-gE3G-0qwlfU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: cambio 25s infinite alternate;
          animation: cambio 25s infinite alternate;
}

/*---------------------------------content5*/
.content5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content5 img {
  vertical-align: middle;
  width: 30%;
  height: 70%;
  float: left;
}

.content5 div h2,
.content5 div h3 {
  margin-bottom: 10px;
}

/*---------------------------------content6*/
.content6 form {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content6 form input[type="text"],
.content6 form input[type="email"] {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #4040a1;
  outline: none;
  width: 70%;
}

.content6 form textarea {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #4040a1;
  outline: none;
  width: 70%;
  resize: none;
}

.content6 form button {
  margin-top: 7px;
}

/*---------------------------------footer*/
footer {
  background: #4040a1;
  color: #fefbd8;
}

footer p {
  margin: 10px;
  text-align: center;
}
/*# sourceMappingURL=custom.css.map */