:root {
  --color: rgb(5, 8, 49);
  --color1: #4040a1;
  --color2: #36486b;
  --color3: #618685;
  --color4: #fefbd8;
  --color5: gainsboro;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  grid-template-rows: 0.5fr 250px 0.5fr repeat(3, 250px) 0.5fr;
  grid-template-areas:
    "login login login"
    "header header header"
    "nav nav nav"
    "content1 content1 content2"
    "content3 content4 content4"
    "content5 content5 content6"
    "footer footer footer";
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  background: url(../img/bg_header.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 30px gray;
}
/*---------------------------------login*/
.login {
  grid-area: login;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login h1 {
  background: var(--color1);
  padding: 3px 5px;
  color: var(--color4);
  letter-spacing: 5px;
}
button {
  background-color: var(--color1);
  border: none;
  color: var(--color4);
  padding: 5px;
  margin: 3px;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: var(--color2);
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 5px;
  border: 1px solid var(--color1);
  outline: none;
  width: 150px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: var(--color2);
  color: var(--color4);
}
/*---------------------------------header*/
header {
  height: 250px;
  background: transparent;
  grid-area: header;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
header h1 {
  margin-left: 100px;
  color: var(--color4);
}
/*---------------------------------nav*/
nav {
  grid-area: nav;
  position: sticky;
  top: 0;
  z-index: 10;
}
ul {
  height: 100%;
  list-style-type: none;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
li a {
  display: block;
  color: var(--color4);
  padding: 15px 17px;
  text-decoration: none;
}
li a:hover {
  background-color: var(--color1);
}
.active {
  border-top: 2px solid var(--color4);
}
/*---------------------------------content1*/
.content {
  background-color: var(--color5);
  border: 1px solid gray;
  color: var(--color);
  text-align: center;
  text-transform: uppercase;
}
.content1 {
  grid-area: content1;
  background: url(../img/sky-5114499_1280.jpg) no-repeat center;
  background-size: cover;
}
/*---------------------------------content2*/
.content2 {
  grid-area: content2;
}
.content2 h3,
.content2 p {
  margin: 30px;
  font-size: 0.8rem;
}
/*---------------------------------content3*/
.content3 {
  grid-area: content3;
}
.content3 h3,
.content3 h5 {
  margin: 30px;
  font-size: 0.8rem;
}
.content3 div {
  display: flex;
  justify-content: center;
  align-content: center;
}
.content3 div img {
  width: 70px;
  height: 70px;
  margin: 0 5px 10px 5px;
  border-radius: 50%;
}
/*---------------------------------content4*/
.content4 {
  grid-area: content4;
  background-image: url(../img/quino-al-gE3G-0qwlfU-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: cambio 20s infinite alternate;
}
@keyframes cambio {
  30% {
    background-image: url(../img/good-night-2904747_1280.jpg);
  }

  60% {
    background-image: url(../img/quino-al-gE3G-0qwlfU-unsplash.jpg);
  }

  100% {
    background-image: url(../img/sky-5114499_1280.jpg);
  }
}
/*---------------------------------content5*/
.content5 {
  grid-area: content5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content5 img {
  vertical-align: middle;
  width: 30%;
  height: 70%;
  float: left;
}
.content5 div h2,
.content5 div h3 {
  margin-bottom: 10px;
}
/*---------------------------------content6*/
.content6 {
  grid-area: content6;
}
.content6 form {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea {
  resize: none;
}
.content6 form input[type="text"],
.content6 form input[type="email"],
textarea {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid var(--color1);
  outline: none;
  width: 70%;
}
.content6 form button {
  margin-top: 7px;
}
/*---------------------------------footer*/
footer {
  grid-area: footer;
  background: var(--color1);
  color: var(--color4);
}
footer p {
  margin: 10px;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "login"
      "header"
      "nav"
      "content2"
      "content3"
      "content5"
      "content6"
      "footer";
  }
  h1 {
    display: none;
  }
  .login {
    justify-content: center;
  }
  nav {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
